{
  "extends": "airbnb-base/legacy",
  "env": {
    "mocha": true,
    "node": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "vars-on-top": 1,
    "mocha/no-exclusive-tests": "error",
    "mocha/no-skipped-tests": "error",
    "mocha/no-pending-tests": "error",
    "mocha/handle-done-callback": "error",
    "mocha/no-global-tests": "error",
    "mocha/no-return-and-callback": "error",
    "mocha/valid-test-description": "error",
    "mocha/valid-suite-description": "error",
    "mocha/no-sibling-hooks": "error",
    "mocha/no-mocha-arrows": "error",
    "mocha/no-identical-title": "error",
    "mocha/max-top-level-suites": "error",
    "mocha/no-nested-tests": "error"
  }
}
