.DS_Store
/.idea
*.iml
/coverage
/work
/node_modules
*.configbean
/pids
/log
.cache
.beans
/static
*.marko.js
*.dust.js
*.log
.telemetry.json
/tmp
/reports
jshint.xml
jshint.html
mocha.xunit
*.marko.js
.coverage
.vscode
.reports
