language: node_js
cache: false
node_js:
  - "8.11.2"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - |
    yarn lint && \
    yarn test --ci --coverage && \
    yarn test:legacy --coverage && \
    ./node_modules/.bin/istanbul-combine -r lcov coverage/marko*/coverage-final.json && \
    yarn release
after_script:
  - ./cc-test-reporter after-build -t lcov --exit-code $TRAVIS_TEST_RESULT
