<div class="mock-component" if(input.viewModel)>
    <h1>${input.content.get('title')}</h1>
    <p>${input.viewModel.content}</p>
    <div if(input.config)>
        <a _sp="${input.tracking.spTag().moduleId(8242).linkId(8243)}">${input.config.url}</a>
        <p>${input.config.locale}</p>
        <p>${input.config.timeout}</p>
        <p>$!{input.config.isDev}</p>
    </div>
    <button type="button" on-click('changeState') if(state.hello !== 'world')>Button</button>
    <!--excluded-component/-->
</div>
