$ const viewModel = input.viewModel;
$ const config = input.config;

<div class="mock-component" if(!state.hidden)>
  <h1>${input.title}</h1>

  <button type="button" key="button" on-click('changeInput')>Hello</button>

  <excluded-component key="excluded-component"/>
</div>
