<div class="mock-component">
  <h1>${input.title}</h1>

  <await(hello from {})>
    <button type="button" key="emit-button" on-click('onClick', 'hello')/>
  </await>

  <tbody-component attribute=input key="tbody" if(!input.hidden)>
    <@body>
      body is here
    </@body>
  </tbody-component>
</div>
