<lasso-page package-path="../static/browser.json"/>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko Tests</title>
        <lasso-head/>
    </head>

    <body>
        <table if(data.layout === 'table') id="component-container"></table>
        <div else id="component-container"></div>
        <div id="mocha"></div>
        <lasso-body/>
    </body>
</html>
