<div class="mock-component">
  <h1>${input.title}</h1>

  <button type="button" key="button" on-keypress('changeInput')>Hello</button>

  <button type="button" key="emit-button" on-click('emit', 'hello')/>

  <subscribe to=document on-click('documentClick') if(!state.hidden)/>

  <tbody-component attribute=input key="tbody" if(!state.hidden)>
    <@body>
      body is here
    </@body>
  </tbody-component>
</div>
